<div *ngIf="isError" class="alert alert-dismissible alert-danger">
    {{notificationMessage}}
</div>
<div *ngIf="isSuccess" class="alert alert-dismissible alert-success">
    {{notificationMessage}}
</div>
<form #receipeForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
            name:
            <input name="name" placeholder="name" ngModel/>
        </label>
    </div>
    <div>
        <label>
            country:
            <input name="country" placeholder="country" ngModel/>
        </label>
    </div>
    <input  type="hidden" name="_id" ngModel/>
    <input  type="hidden" name="ingredients" ngModel/>

    <button type="submit">Add</button>
</form>