<H1>{{receipe.name | titlecase}}</H1>
Country:- {{receipe.country | titlecase}}
<app-edit-receipe  *ngIf="isLoggedIn" [receipeId]="receipe._id"  [receipe]="receipe" (editReceipeEmitter)="onReceipeChange($event)"></app-edit-receipe>
   
<br>

Ingredients:- 
<app-add-ingredient *ngIf="isLoggedIn"  [receipeId]="receipe._id" (addIngredientEmitter)="onIngredientChange($event)"></app-add-ingredient>
<ul>
    <li *ngFor="let ingredient of receipe.ingredients">
        <div>
            <span>name:-{{ingredient.name | titlecase}}</span> 
            <br>
            <span *ngIf="ingredient.color">color:-{{ingredient.color | titlecase}}</span>
        </div>

        <app-edit-ingredient *ngIf="isLoggedIn" [receipeId]="receipe._id"  [ingredient]="ingredient" (editIngredientEmitter)="onIngredientChange($event)"></app-edit-ingredient>
    </li>
</ul>
<app-delete-receipe *ngIf="isLoggedIn" [receipeId]="receipe._id"></app-delete-receipe>
